<section style="margin-top: 60px">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" style="padding-top: 40px;">
        <img src="assets/images/mystery-box-1.svg" width="300px" style="margin-bottom: 30px">
        <h1 class="mystery-box-title">Coming Soon</h1>
      </div>
    </div>
  </div>
  <!--
  <div class="container">
    <div class="row">
      <div class="col-lg-12 detail-bg">
        <div class="row">
          <div class="col-lg-5">
            <div>
              <h1 class="mystery-box-title">Mystery <br/> Box</h1>
              <p style="margin-bottom: 40px">Mystery Box contains various Savanna Life. The higher the quality of a mystery box, the higher your chances are to get a high-quality Savanna Life.</p>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="card-box">
                  <img src="assets/images/lion.svg" width="100%">
                </div>
              </div>
              <div class="col-4">
                <div class="card-box">
                  <img src="assets/images/elephant.svg" width="100%">
                </div>
              </div>
              <div class="col-4">
                <div class="card-box">
                  <img src="assets/images/corcodile.svg" width="100%">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="btn-buy cursor-pointer" (click)="detail()">
                  <img src="assets/images/price-unit.svg">
                  <div>450 svsa <span class="d-block">(100 USD)</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 my-auto text-center  ">
            <img src="assets/images/mystery-box-1.svg" width="70%">
          </div>
        </div>
      </div>
    </div>
  </div>
-->
</section>


