.login-header{
	color:  #333;
	font-size: 28px;
	font-weight: 700;
}

h5{
	display: inline-block;
	color:  #444;
	margin-bottom: 0;
	font-weight: 600;
}

.login-btn{
	cursor: pointer;
	background: url(../../../assets/images/btn-login.svg)no-repeat;
	background-size: 100% 100%;
	padding: 10px 15px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
}


.login-btn:hover{
	transition: all 0.2s ease 0s;
	background: url(../../../assets/images/btn-login-hover.svg)no-repeat;
	background-size: 100% 100%;
	padding: 10px 15px;
	border-radius: 5px;
}

h2{
	color: #FFB100;
}


h4{
	font-size: 18px;
}

.wallet-list{
	/*height:  280px;*/
	overflow-y: auto;
}